.calendar-grid {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.calendar-day {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendar-day.sunday {
  color: #ef4444;
}

.calendar-day.saturday {
  color: #3b82f6;
}

.calendar-day .selected {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  background-color: #fbc42e;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
